ErrorDocument 404 /notfound.php

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://linkinparktvbr.com/$1 [R,L]

#REDIRECIONANDO URLS ANTIGAS
#Remove antigo caminho LPTVBr de urls
RewriteRule ^LPTVBr/(.*)$ /$1 [R=301,NC,L]

#Remove antigo sufixo mus de urls
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z-0-9-/-_\.]+)-mus(/)$ /$1 [R=301,NC,L]

#Adiciona "musica" em urls antigas
RewriteCond %{REQUEST_URI} ^/albuns [OR]
RewriteCond %{REQUEST_URI} ^/lpu [OR]
RewriteCond %{REQUEST_URI} ^/remixes [OR]
RewriteCond %{REQUEST_URI} ^/singles
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /musica%{REQUEST_URI} [R=301,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^musicas/(.*)$ /musica/$1 [R=301,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^videos/(.*)$ /video/$1 [R=301,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

RewriteRule ^sobre/?$ sobre.php [NC,L]
RewriteRule ^contato/?$ contato.php [NC,L]

#musicas
RewriteRule ^musica/?$ musicas/musicas.php [NC,L]
RewriteRule ^musica/([a-z-0-9-_\.]+)/([a-z-0-9-_\.]+)/?$ template/listaMusicasRelease.php?tipo=$1&album=$2 [NC,L]
RewriteRule ^musica/([a-z-0-9-_\.]+)/([a-z-0-9-_\.]+)/([a-z-0-9-_\.]+)/?$ template/traducao-template.php?tipo=$1&album=$2&musica=$3 [NC,L]

#videos
RewriteRule ^video/?$ videos/videos.php [NC,L]
RewriteRule ^video/([a-z-0-9-]+)/?$ videos/$1/$1.php [NC,L]
RewriteRule ^video/([a-z-0-9-]+)/([a-z-0-9-]+)/([a-z-0-9-]+)/?$ template/video-template.php?tipo=$1&ano=$2&video=$3 [NC,L]