ErrorDocument 404 /notfound.php

Options +FollowSymLinks
RewriteEngine on

#Redirecionando urls antigas do site
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^musicas/(.*)$ /musica/$1 [R=301,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^videos/(.*)$ /video/$1 [R=301,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

RewriteRule ^sobre/?$ sobre.php [NC,L]
RewriteRule ^contato/?$ contato.php [NC,L]

#musicas
RewriteRule ^musica/?$ musicas/musicas.php [NC,L]
RewriteRule ^musica/([a-z-0-9-]+)/([a-z-0-9-]+)/?$ template/listaMusicasRelease.php?tipo=$1&album=$2 [NC,L]
RewriteRule ^musica/([a-z-0-9-]+)/([a-z-0-9-]+)/([a-z-0-9-]+)/?$ template/traducao-template.php?tipo=$1&album=$2&musica=$3 [NC,L]

#videos
RewriteRule ^video/?$ videos/videos.php [NC,L]
RewriteRule ^video/([a-z-0-9-]+)/?$ videos/$1/$1.php [NC,L]
RewriteRule ^video/([a-z-0-9-]+)/([a-z-0-9-]+)/([a-z-0-9-]+)/?$ template/video-template.php?tipo=$1&ano=$2&video=$3 [NC,L]