@CHARSET "ISO-8859-1";

body {
	background-color: #9E9E9E;
	background-repeat: repeat;
	padding: 10px 0px 0px 0px;
}

.mainSection {
	margin: 5px auto 5px auto;
	max-width: 1366px;
	background-color: white;
	border-radius: 5px;
	position: relative;
}

.ads {
	position: relative;
	top: 65px;
}

.panel.header {
	background-color: #BDBDBD;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-bottom: 1px solid black;
	border-radius: 5px;
	color: black;
	text-align: center;
	margin: 0;
	padding: 5px 0px 5px 0px;
}

.panel.header>h2, .panel.header>h1 {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 2em;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

@media all and (max-width: 768px) {
	body {
		margin: 0;
		padding: 0;
	}

	/* Move mainSection 55px para baixo para dar espaço a barra menu mobile */
	.mainSection, .container-footer {
		top: 55px;
		border-radius: none;
	}
}