@CHARSET "ISO-8859-1";

.padrao {
	display: block;
}

.mobile {
	display: none;
	overflow: hidden;
	z-index: 20;
	height: 60px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.mobile-wrapper {
	position: fixed;
	background: gray;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	max-width: 1366px;
	margin: 0 auto;
}

.botao-mobile {
	float: left;
	background-color: gray;
	background-image: url("/resources/imagens/menu-button.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 100%;
	border: 1px groove white;
}

.mobile>p {
	font-size: 2em;
	float: right;
	width: 80%;
	height: 100%;
	padding: 0;
	margin: 0 !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 13px;
}

.mobile span {
	text-shadow: 1px 1px 1px black;
}

.mobile span:nth-child(2) {
	color: yellow;
}

.mobile span:nth-child(1) {
	color: green;
}

.link:active {
	border: none !important;
}

.lista, .lista li {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	margin-top: 5px;
}

.header {
	border-radius: 5px;
}

.lista .link {
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	min-width: 80px;
	letter-spacing: 2px;
	color: black;
	background: none;
	text-align: center !important;
	padding: 7px;
	border-radius: 5px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.lista .link:hover {
	border: 1px solid black;
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
}

.lista .link:active {
	border: 1px inset white;
}

.header {
	background-color: #BDBDBD;
	border-radius: 5px;
	position: relative;
	max-width: 1366px;
	margin: 0 auto;
}

.banner-padrao {
	display: block;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.nav-lista {
	text-align: center;
	margin: 0;
	padding: 0;
	max-height: 54px;
}

@media all and (max-width: 768px) {
	.mobile {
		display: block;
		z-index: 2;
	}
	.lista {
		display: block;
		position: fixed;
		width: 100%;
		margin: 0;
		top: -200px;
		z-index: 2;
	}
	.lista li {
		background: gray;
		border-bottom: 1px groove white;
		margin: 0;
		display: block;
		display: block;
		padding: 7px 0px 7px 0px;
	}
	.lista li:nth-child(1) {
		border-top: 1px groove white;
	}
	body {
		padding: 0;
	}
	.banner-padrao {
		display: none;
	}
}