@CHARSET "ISO-8859-1";

.padrao {
	display: block;
}

.mobile {
	display: none;
	overflow: hidden;
	z-index: 20;
	height: 60px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.mobile-wrapper {
	position: fixed;
	background: gray;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	max-width: 1366px;
	margin: 0 auto;
}

.botao-mobile {
	float: left;
	background-color: gray;
	background-image: url("/resources/imagens/menu-button.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 100%;
	border: 1px groove white;
}

.mobile>p {
	font-size: 2em;
	float: right;
	width: 80%;
	height: 100%;
	padding: 0;
	margin: 0 !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 13px;
}

.mobile span {
	text-shadow: 1px 1px 1px black;
}

.mobile span:nth-child(2) {
	color: yellow;
}

.mobile span:nth-child(1) {
	color: green;
}

.link:active {
	border: none !important;
}

.lista, .lista li {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	margin: 5px;
}

.header {
	border-radius: 5px;
}

.lista-wrapper {
	margin: 5px auto;
}

.lista .link {
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	min-width: 80px;
	letter-spacing: 2px;
	color: black;
	background: none;
	text-align: center !important;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.lista .link:hover {
	border: 1px solid black;
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
}

.lista .link:active {
	border: 1px inset white;
}

.header {
	background-color: #BDBDBD;
	border-radius: 5px;
	position: relative;
	max-width: 1366px;
	margin: 0 auto;
}

.banner-padrao {
	display: block;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.nav-lista {
	position: relative;
	background-color: #BDBDBD;
	border-radius: 5px;
	text-align: center;
	max-height: 50px;
	margin: 0;
	padding: 0;
}

@media
all
and
(max-width:
768px)
{
/* Remove todos os efeitos de .lista em mobile */
.lista .link:hover {
	border: none;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
}

.lista-wrapper {
	position: relative;
	margin: 0 auto;
	z-index: 4;
	display: block;
}

.lista, .lista li {
	display: block;
	padding-left: 0;
	margin: 0 !important;
	background: gray;
	/* Esconde .lista da tela */
	position: relative;
	top: -200px;
}

.lista {
	position: fixed;
	/* Por algum motivo ficava um pedaço vazio da lista aparecendo, colocando o fundo vazio ele some */
	background: none;
	width: 100%;
	max-height: 100px;
}

.lista .link {
	font-size: 20px !important;
	font-weight: bold;
	padding: 10px;
	border-radius: 0;
	border: 1px solid white;
	border-bottom: none;
}

.mobile {
	display: block;
}

body {
	padding: 0;
}

.banner-padrao {
	display: none;
}
}