@CHARSET "ISO-8859-1";

.videosRecentes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

body {
	background-color: #BDBDBD;
}

.banner {
	width: 100%;
	border-radius: 3px;
}

.bannerWrapper {
	padding: 3px;
}

.innerContentArticle {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px auto;
}

.contentArticle {
	overflow: hidden;
}