@CHARSET "ISO-8859-1";

.lista {
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

#albuns-lista {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

#singles-lista {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

.linkImg {
	max-width: 100%;
	border-radius: 20px;
	border: 1px groove #C0C0C0;
}

.linkPanel {
	position: relative;
	width: 100%;
	background: none !important;
	border: none !important;
}

.nomeLink {
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: calc(40% + 1vw) !important;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	margin: 0 auto !important;
	padding: 0 !important;
	margin-bottom: 5px !important;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	visibility: hidden;
	text-align: center;
}

.link {
	text-decoration: none;
}

#mus-tabView {
	background: none !important;
	padding: 10px 15px 0px 15px !important;
}

.pui-tabview-nav {
	background: #E0E0E0 !important;
}

a:hover>p {
	visibility: visible;
	opacity: 1;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}

@media all and (max-width: 600px) {
	.nomeLink {
		visibility: visible;
		opacity: 1;
		font-size: 18px !important;
	}
	#albuns-lista, #singles-lista {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.nomeLink {
		bottom: 17px;
		text-shadow: 2px 2px 1px black;
	}
	
	td {
		border: none;
		position: relative;
	}
	
	tr {
		border-bottom: 1px solid #eee;
		padding: 15px;
	}
	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
}