@CHARSET "ISO-8859-1";

#thp-article {
	background-image: url("../../resources/imagens/albuns/thp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#lt-article {
	background-image: url("../../resources/imagens/albuns/living-things.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#ats-article {
	background-image: url("../../resources/imagens/albuns/ats.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#rtr-article {
	background-image: url("../../resources/imagens/albuns/rtr.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#mtm-article {
	background-image: url("../../resources/imagens/albuns/mtm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#cc-article {
	background-image: url("../../resources/imagens/albuns/cc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#lit-article {
	background-image: url("../../resources/imagens/albuns/lit.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#mt-article {
	background-image: url("../../resources/imagens/albuns/mt.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#ht-article {
	background-image: url("../../resources/imagens/albuns/ht.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}