@CHARSET "ISO-8859-1";

/* The Hunting Party */
#thp-article {
	background-image: url("../../resources/imagens/albuns/thp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* Living Things */
#lt-article {
	background-image: url("../../resources/imagens/albuns/living-things.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Thousand Suns */
#ats-article {
	background-image: url("../../resources/imagens/albuns/ats.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Road To Revolution */
#rtr-article {
	background-image: url("../../resources/imagens/albuns/rtr.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Minutes To Midnight */
#mtm-article {
	background-image: url("../../resources/imagens/albuns/mtm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Collision Course */
#cc-article {
	background-image: url("../../resources/imagens/albuns/cc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Live In Texas */
#lit-article {
	background-image: url("../../resources/imagens/albuns/lit.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Meteora */
#mt-article {
	background-image: url("../../resources/imagens/albuns/mt.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Hybrid Theory */
#ht-article {
	background-image: url("../../resources/imagens/albuns/ht.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Decade Underground*/
#adu-article {
	background-image: url("../../resources/imagens/lpu/cover/a-decade-underground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 15*/
#lpu15-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu15.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 14*/
#lpu14-article {
	background-image: url("../../resources/imagens/lpu/cover/lpuxiv.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 13 */
#lpu13-article {
	background-image: url("../../resources/imagens/lpu/cover/lpuxiii.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 12 */
#lpu12-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu12.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 11 */
#lpu11-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu11.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 10 */
#lpu10-article {
	background-image: url("../../resources/imagens/lpu/cover/lpux.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 9 */
#lpu9-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 8 */
#lpu8-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 7 */
#lpu7-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 6 */
#lpu6-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 5 */
#lpu5-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 4 */
#lpu4-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 3 */
#lpu3-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 2 */
#lpu2-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 1 */
#lpu1-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Light That Never Comes */
#altnc-article {
	background-image: url("../../resources/imagens/singles/cover/a-light-that-never-comes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Final Masquerade */
#fm-article {
	background-image: url("../../resources/imagens/singles/cover/final-masquerade.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Rebellion */
#rebellion-article {
	background-image: url("../../resources/imagens/singles/cover/rebellion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Wastelands */
#wastelands-article {
	background-image: url("../../resources/imagens/singles/cover/wastelands.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Until It`s Gone */
#uig-article {
	background-image: url("../../resources/imagens/singles/cover/until-its-gone.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Guilty All The Same */
#gats-article {
	background-image: url("../../resources/imagens/singles/cover/guilty-all-the-same.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Castle Of Glass */
#cog-article {
	background-image: url("../../resources/imagens/singles/cover/castle-of-glass.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Powerless */
#powerless-article {
	background-image: url("../../resources/imagens/singles/cover/powerless.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Lost In The Echo */
#lite-article {
	background-image: url("../../resources/imagens/singles/cover/lost-in-the-echo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Burn It Down */
#bid-article {
	background-image: url("../../resources/imagens/singles/cover/burn-it-down.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Iridescent */
#iridescent-article {
	background-image: url("../../resources/imagens/singles/cover/iridescent.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Download To Donate: Tsunami Relief */
#tsunami-article {
	background-image: url("../../resources/imagens/singles/cover/download-tsunami.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Burning In The Skies */
#bits-article {
	background-image: url("../../resources/imagens/singles/cover/burning-in-the-skies.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}