@CHARSET "ISO-8859-1";

/* The Hunting Party */
#thp-article {
	background-image: url("../../resources/imagens/albuns/thp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* Living Things */
#lt-article {
	background-image: url("../../resources/imagens/albuns/living-things.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Thousand Suns */
#ats-article {
	background-image: url("../../resources/imagens/albuns/ats.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Road To Revolution */
#rtr-article {
	background-image: url("../../resources/imagens/albuns/rtr.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Minutes To Midnight */
#mtm-article {
	background-image: url("../../resources/imagens/albuns/mtm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Collision Course */
#cc-article {
	background-image: url("../../resources/imagens/albuns/cc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Live In Texas */
#lit-article {
	background-image: url("../../resources/imagens/albuns/lit.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Meteora */
#mt-article {
	background-image: url("../../resources/imagens/albuns/mt.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Hybrid Theory */
#ht-article {
	background-image: url("../../resources/imagens/albuns/ht.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Decade Underground*/
#adu-article {
	background-image: url("../../resources/imagens/lpu/cover/a-decade-underground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Songs From The Underground*/
#sftu-article {
	background-image: url("../../resources/imagens/lpu/cover/songs-from-the-underground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 15*/
#lpu15-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu15.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 14*/
#lpu14-article {
	background-image: url("../../resources/imagens/lpu/cover/lpuxiv.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 13 */
#lpu13-article {
	background-image: url("../../resources/imagens/lpu/cover/lpuxiii.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 12 */
#lpu12-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu12.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 11 */
#lpu11-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu11.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 10 */
#lpu10-article {
	background-image: url("../../resources/imagens/lpu/cover/lpux.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 9 */
#lpu9-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 8 */
#lpu8-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 7 */
#lpu7-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 6 */
#lpu6-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 5 */
#lpu5-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 4 */
#lpu4-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 3 */
#lpu3-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 2 */
#lpu2-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* LP Underground 1 */
#lpu1-article {
	background-image: url("../../resources/imagens/lpu/cover/lpu1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Light That Never Comes */
#altnc-article {
	background-image: url("../../resources/imagens/singles/cover/a-light-that-never-comes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Final Masquerade */
#fm-article {
	background-image: url("../../resources/imagens/singles/cover/final-masquerade.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Rebellion */
#rebellion-article {
	background-image: url("../../resources/imagens/singles/cover/rebellion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Wastelands */
#wastelands-article {
	background-image: url("../../resources/imagens/singles/cover/wastelands.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Until It`s Gone */
#uig-article {
	background-image: url("../../resources/imagens/singles/cover/until-its-gone.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Guilty All The Same */
#gats-article {
	background-image: url("../../resources/imagens/singles/cover/guilty-all-the-same.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Castle Of Glass */
#cog-article {
	background-image: url("../../resources/imagens/singles/cover/castle-of-glass.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Powerless */
#powerless-article {
	background-image: url("../../resources/imagens/singles/cover/powerless.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Lost In The Echo */
#lite-article {
	background-image: url("../../resources/imagens/singles/cover/lost-in-the-echo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Burn It Down */
#bid-article {
	background-image: url("../../resources/imagens/singles/cover/burn-it-down.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Iridescent */
#iridescent-article {
	background-image: url("../../resources/imagens/singles/cover/iridescent.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Download To Donate: Tsunami Relief */
#tsunami-article {
	background-image: url("../../resources/imagens/singles/cover/download-tsunami.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Burning In The Skies */
#bits-article {
	background-image: url("../../resources/imagens/singles/cover/burning-in-the-skies.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Waiting For The End */
#wfte-article {
	background-image: url("../../resources/imagens/singles/cover/waiting-for-the-end.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* The Catalyst */
#catalyst-article {
	background-image: url("../../resources/imagens/singles/cover/the-catalyst.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Download To Donate For Haiti */
#haiti-article {
	background-image: url("../../resources/imagens/singles/cover/download-haiti.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* New Divide */
#divide-article {
	background-image: url("../../resources/imagens/singles/cover/new-divide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Leave Out All The Rest */
#loatr-article {
	background-image: url("../../resources/imagens/singles/cover/leave-out-all-the-rest.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Given Up */
#gu-article {
	background-image: url("../../resources/imagens/singles/cover/given-up.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Shadow Of The Day */
#sotd-article {
	background-image: url("../../resources/imagens/singles/cover/shadow-of-the-day.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Bleed It Out */
#bio-article {
	background-image: url("../../resources/imagens/singles/cover/bleed-it-out.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* What I've Done */
#wid-article {
	background-image: url("../../resources/imagens/singles/cover/what-ive-done.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Numb/Encore */
#ne-article {
	background-image: url("../../resources/imagens/singles/cover/numb-encore.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Numb/Encore (iTunes EP)*/
#nei-article {
	background-image: url("../../resources/imagens/singles/cover/numb-encore-itunesep.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Numb (Version 2)*/
#numbv2-article {
	background-image: url("../../resources/imagens/singles/cover/numbv2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Numb (Version 1)*/
#numbv1-article {
	background-image: url("../../resources/imagens/singles/cover/numbv1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Breaking The Habit */
#bth-article {
	background-image: url("../../resources/imagens/singles/cover/breaking-the-habit.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* From The Inside */
#fti-article {
	background-image: url("../../resources/imagens/singles/cover/from-the-inside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Faint */
#faint-article {
	background-image: url("../../resources/imagens/singles/cover/faint.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Somewhere I Belong */
#sib-article {
	background-image: url("../../resources/imagens/singles/cover/somewhere-i-belong.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Pts.Of.Athrty*/
#pts-article {
	background-image: url("../../resources/imagens/singles/cover/pts.of.athrty.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* In The End: Live And Rare */
#iter-article {
	background-image: url("../../resources/imagens/singles/cover/in-the-end-live-rare.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* In The End */
#ite-article {
	background-image: url("../../resources/imagens/singles/cover/in-the-end.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* In The End (Version 2)*/
#itev2-article {
	background-image: url("../../resources/imagens/singles/cover/in-the-endv2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Papercut */
#papercut-article {
	background-image: url("../../resources/imagens/singles/cover/papercut.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Crawling */
#crawling-article {
	background-image: url("../../resources/imagens/singles/cover/crawling.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* One Step Closer */
#osc-article {
	background-image: url("../../resources/imagens/singles/cover/one-step-closer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* A Light That Never Comes Remixes */
#altncr-article {
	background-image: url("../../resources/imagens/remixes/cover/a-light-that-never-comes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Recharged */
#recharged-article {
	background-image: url("../../resources/imagens/remixes/cover/recharged.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* 8-Bit Rebellion */
#bit-article {
	background-image: url("../../resources/imagens/remixes/cover/8bit-rebellion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Reanimation */
#reanimation-article {
	background-image: url("../../resources/imagens/remixes/cover/reanimation.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}