@CHARSET "ISO-8859-1";

tr, td {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	text-shadow: 2px 2px 3px black;
	border-bottom: 1px groove #E0E0E0;
}

#button-td {
	margin: 0;
	padding: 0;
}

.linkImg {
	padding-left: 5px;
	border-radius: 5px;
}

.trad-button {
	width: 100%;
	min-width: 150px;
	font-family: "Courier New", Courier, monospace;
	text-shadow: 1px 1px 1px white;
	font-weight: bold;
	font-size: 20px;
	align: right;
	padding: 5px !important;
	margin: 0 auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: #E0E0E0;
    color: #E0E0E0;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    text-decoration: none;
    color: initial;
}

.trad-button:hover, .trad-button:focus {
	background: #C0C0C0;
	color: black;
}

.cover-aside {
	float: right;
	max-width: 500px;
}

.table {
	border-radius: 7px;
	width: 100%;
	float: left;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.table-article {
	overflow: hidden;
	padding: 5px;
}

.mus-table {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

@media all and (max-width: 600px) {
	td {
		border: none;
		position: relative;
	}
	tr {
		border-bottom: 1px solid #eee;
		padding: 15px;
	}
	table, thead, tbody, th, td, tr {
		display: block;		
	}
	
	.mus-table {
		padding: 0;
		margin: 0;
	}
}