@CHARSET "ISO-8859-1";

.redes.header {
	font-family: "Courier New", Courier, monospace;
	background: none;
	border-radius: 3px;
	vertical-align: center;
	margin: 0 auto;
	height: auto;
}

.header.texto {
	color: white;
	text-align: center;
	margin: 0;
	padding: 5px;
	background: none;
}

.redes.link {
	color: white;
}

.footer.td {
	padding: 0px 50px 0px 50px;
}

@media all and (max-width: 1058px) {
	.footer.td {
		padding: 0;
	}
}

@media all and (max-width: 780px) {
	.footer.td {
		border: none;
		position: relative;
	}
	.footer.tr {
		border-bottom: none !important;
		padding: none !important;
	}
	.footer.td {
		border-bottom: 1px groove #eee;
		padding: 15px;
	}
	#container-footer table, #container-footer thead, #container-footer tbody,
		#container-footer th, #container-footer td, #container-footer tr {
		display: block;
	}
}