@CHARSET "ISO-8859-1";

.body-section {
	display: block;
	max-width: 1200px;
	width: 90%;
	margin: auto;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	margin-top: 5px;
}

.ads {
	padding-top: 5px;
}

.lista.link, .lista.link li {
	display: inline-block !important;
	list-style-type: none;
	padding: 0px;
	margin: 5px;
}

.lista {
	text-align: center;
	display: block;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

body {
	background-image: url("../imagens/background.jpg");
	background-repeat: repeat;
	padding: 15px 0px 0px 0px;
}

#container-header {
	display: block;
	color: white;
	max-width: 1200px;
	width: 90%;
	margin: auto;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.button {
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	min-width: 80px;
	letter-spacing: 2px;
	color: white;
	background: none;
	text-align: center !important;
	padding: 5px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.footer-lista {
	font-family: "Courier New", Courier, monospace;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.button:hover {
	color: black;
	background: #C0C0C0;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}

#container-nav {
	border-style: solid;
	border-width: 1px;
	font-family: "Courier New", Courier, monospace;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.header.banner {
	display: block;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.header.banner.mobile {
	display: none;
}

.header.nav {
	position: relative;
	margin: 0;
	padding: 0;
}

.botao.mobile {
	position: absolute;
	display: none;
	padding: 8px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	bottom: 5px;
	left: 5px;
	border-radius: 3px;
	border: 1px groove gray;
}

.videoThumb {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#container-footer {
	display: block;
	overflow: hidden;
	max-width: 1200px;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px groove #000000;
	border-radius: 3px;
	color: white;
	background: #212121;
	margin-top: 5px;
}

.footerLink {
	font-size: 20px;
	border-radius: 5px;
	background: white;
	padding-left: 30px;
	padding-right: 30px;
}

.footerLabel {
	color: white;
	font-family: "Courier New", Courier, monospace;
}

@media all and (max-width: 650px) {
	.lista {
		position: absolute;
		font-size: 35px;
		text-align: left;
		display: none;
		padding: 0 !important;
		margin: 0 !important;
		z-index: 50;
		width: 70%;
	}
	.botao.mobile {
		display: block;
	}
	.lista.link, .lista.link li {
		display: block !important;
		padding-left: 5px !important;
		margin: 0 !important;
		top: -5px;
		left: -5px;
	}
	.lista.link li a {
		font-size: 15px !important;
		font-weight: bold;
	}
	.lista.link li a {
		border: 1px groove gray;
		text-align: left;
		border-radius: 3px;
		background: black;
		padding: 10px;
	}
	.header.banner.default {
		display: none;
	}
	.header.banner.mobile {
		display: block;
	}
	#container-header, #container-footer, .body-section {
		width: 100%;
	}
	body {
		padding: 0;
		background-image: url("../imagens/background320.jpg");
	}
}

@media all and (max-width: 943px) {
	.button {
		font-size: calc(25% + 1vw);
		padding: 0;
	}
}