@CHARSET "ISO-8859-1";

.galleria {
	width: 90%;
	height: 550px;
	background: white;
	margin: 15px auto;
	margin-bottom: 3px;
	border: 1px groove white;
}

.powered-by {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

.video-link {
	color: blue !important;
}

.descricao {
	padding: 7px;
}

.descricao.texto {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 15px;
	margin: 0;
	text-align: center;
}

.titulo {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	margin: 0;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 100%;
	margin: 0 auto;
	border: none !important;
}

.video-container iframe, .video-container object, .video-container embed
	{
	border: none !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media all and (max-width: 1366px) and (min-width: 770px) {
	.video-container {
		width: 57%;
		padding-bottom: 30%;
	}
}

@media all and (max-width: 768px) {
	.galleria {
		width: 97%;
		height: 300px;
		margin: 5px auto;
	}
	.midia-container {
		padding: 0;
	}
	.descricao.texto {
		padding: 0;
	}
}