@CHARSET "ISO-8859-1";

.galleria {
	width: 90%;
	height: 550px;
	background: white;
	margin: 15px auto;
	margin-bottom: 3px;
	border: 1px groove white;
}

.powered-by {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

.video-link {
	color: blue !important;
}

.descricao.texto {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 15px;
	margin: 0;
	text-align: center;
}

.titulo {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	padding: 10px;
	margin: 0;
}

.midia-container {
	padding: 0px 35px 0px 35px;
}

@media all and (max-width: 768px) {
	.galleria {
		width: 97%;
		height: 300px;
		margin: 5px auto;
	}
	.midia-container {
		padding: 0;
	}
	
	.descricao.texto {
		padding: 0;
	}
}