#Alternate default index page
DirectoryIndex videos.php

RewriteEngine on

RewriteRule ^lptv/?$ videos.php?pasta=lptv&pagina=lptv [NC,L]

RewriteRule ^shows/?$ videos.php?pasta=shows&pagina=shows [NC,L]

RewriteRule ^shows/([a-z-]+)/?$ videos.php?pasta=shows&pagina=$1 [NC,L]

RewriteRule ^lptv/([0-9]+)/([a-z-]+)/?$ videos.php?pasta=lptv&ano=$1&pagina=$2 [NC,L]

RewriteRule ^entrevista/([0-9]+)/([a-z-]+)/?$ videos.php?pasta=shows&ano=$1&page=$2 [NC,L]

RewriteRule ^linkinlog/([0-9]+)/([a-z-]+)/?$ videos.php?pasta=linkinlog&ano=$1&pagina=$2 [NC,L]

RewriteRule ^outros/([a-z-]+)/?$ videos.php?pasta=outros&pagina=$1 [NC,L]