.formulario input {
	margin: 7px;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

form {
	font-size: 20px;
	max-width: 50%;
	margin: 0 auto;
}
.btnFinalizar {
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
}

.comboboxMusica, .add_combobox, .link_atualizar {
	font-size: 20px;
}

.comboboxMusica {
	padding: 3px;
	margin: 5px;
}

.link_remover_resultado, .link_remover {
	padding: 5px;
	text-decoration: none;
	margin-left: 2px;
	font-size: 14px;
	appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}